/* 
HONEYDEW: #DFF8EB
RUSSIAN VIOLET: #120D31
CORNFLOWER BLUE: #6F9CEB
PALE SILVER: #D3C8C5
DARK SLATE GRAY: #394F49
*/
body, html{
  background-color: #120D31;
  font-family: monospace;
  display: flex;
  flex-direction: column;

  height: 100vh;
  max-height: 100vh;
}
ul{
  list-style: none;
}
div.appWrapper{
  align-self: center;

}

/* Connection */

.title{
  font-size: 2em;
  color: #D3C8C5;
  text-align: center;
  margin-top: 10vh;
}

div.accounts{
  margin: auto;
}
div.connection{
  display: flex;
  flex-direction: column;
  width: 20vh;
}
div.signup-form{
  display: flex;
  flex-direction: column;
  width: 20vh;
}

input.valid{
  border-color: darkgreen 2px solid;
  background-color: lightgreen;
}
input.invalid{
  border-color: darkgreen 2px solid;
}
p.warning{
  color: red;
}

/* Groups and Rooms */
div.chatbox-wrapper{
  display: flex;
  flex-direction: column;
}
header.chatbox-header{
  height: 7vh;
  background-color: #6F9CEB;
  box-shadow: 2px 2px 2px 2px #120D31;
  position: relative;

  flex: 1;

  z-index: 4;
}
p.welcome{
  color: #D3C8C5;
  text-shadow: #394F49 1px 1px;
  font-size: 1.5em;
  margin-block-start: 0px;

  vertical-align: middle;
}

div.chatbox-horizontal{
  display: flex;
  flex-direction: row;

  flex: 10;
}

div.groups-wrapper{
  background-color: #6F9CEB;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;

  z-index: 3;

  box-shadow: #120D31 2px 2px 2px;

  flex-grow: 1;

  flex: 1;
}
ul.groups-list{
  list-style: none;
  padding-inline-start: 0px;
}
li.group-element{
  margin: 10px;
}
button.group-button{
  width: 33px;
  height: 33px;
  background-color: #D3C8C5;

  color: #394F49;
  font-weight: bolder;
  font-size: 1.3em;

  border: 2px solid #394F49;
  border-radius: 25px;
}
button.group-button:hover{
  background-color: #394F49;
  color: #D3C8C5;
  border: 2px solid #D3C8C5;
}

div.rooms-wrapper{
  background-color: #6F9CEB;
  display: flex;
  flex-direction: row;
  width: fit-content;
  position: relative;
  z-index: 2;

  box-shadow: #120D31 1px 1px 1px;

  flex-grow: 1;

  flex: 1;
}
ul.rooms-list{
  list-style: none;
  padding-inline-start: 0px;
}
button.room-button{
  width: 100px;
}

/* Content */

div.content-wrapper{
  background-color: #394F49;

  position: relative;
  z-index: 1;

  flex: 6;
}
ul.message-list{
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  height: 87vh;
  overflow-y: auto;
}
ul.message-list::-webkit-scrollbar {
  width: 0px;
}

div.messages-wrapper{
  height: 87vh;
}
li.message{
  display: flex;
  flex-direction: column;
  background-color: #120D31;
  color: #D3C8C5;
  margin: 10px;
  padding: 5px;

  border: 2px solid #D3C8C5;
  border-radius: 3px;
}
div.author-time{
  display: flex;
  flex-direction: row;
}
p.messageC{
  font-size: 1.1em;
  font-weight: 600;
}
p.author{
  margin-right: 10px;
  font-weight: 700;
}
p.time{
  align-self: flex-end;
}
p.author, p.time{
  font-style: italic;
}

div.textbox{
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;

  height: 4vh;
}
input.chatinput{
  flex: 12;
  padding: 0px;
  margin: 0px;
}
button.chatsubmit{
  flex: 1;
  padding: 0px;
  margin: 0px;
}
p.choose-room {
  font-size: 1.25em;
  font-weight: 800;
  color: #D3C8C5;

  margin-left: 20px;
}
/* pour centrer block: position: absolute, left: 50%, top: 50%
transform:translate(-50%, -50%) z-index: 99*/

/* POPUPS */
div.popup-wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 40vh;
  height: 40vh;

  background-color: #6F9CEB;
  border: #120D31 1px solid;
  box-shadow: #120D31 1px 1px 1px;
  border-radius: 3px;
}
button.closex{
  position: absolute;
}
