/* 
HONEYDEW: #DFF8EB
RUSSIAN VIOLET: #120D31
CORNFLOWER BLUE: #6F9CEB
PALE SILVER: #D3C8C5
DARK SLATE GRAY: #394F49
*/

body, html{
  background-color: #120D31;
  font-family: monospace;
}

.title{
  font-size: 2em;
  color: #D3C8C5;
}

div.connection{
  display: flex;
  flex-direction: column;
}
